extends layout

block content
	#banner.page-header
		.row
			.col-sm-12.col-lg-8
				h2 JOAD
					small &nbsp;Junior Olympic Archery Development
	.row
		.container
			.row
				.col-sm-6.col-md-4.col-md-offset-4
					ul
						li!= message

