extends layout

block content
	#banner.page-header
		.row
			.col-lg-6
				h1 JOAD
					small &nbsp;Junior Olympic Archery Development
	.row
		.col-xs-12.col-sm-8
			h4
			p.lead WaXoBe hosts a JOAD program on a Saturday afternoon from October through to June